
.registration__menu{
  display: flex;
  justify-content: flex-end;
.registration__menu-main{
  width: 50%;;
  display: flex;
  justify-content: space-between;
  margin-bottom: .25rem;

  a{
    font-size: .75rem;
    text-decoration: none;
    font-family: $font-base;
    color: $main-grey;
    padding: .5rem .75rem;
    border: 1px solid #fff;
  }
}
}



