.tills-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;

  .organization-header-till {
    cursor: pointer;
    margin: 20px 50px;
    padding: 20px 30px;
    border: 1px solid $main-grey;
  }

}

.footer-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  .organization-footer-number {
    cursor: pointer;
    padding: 5px;
    margin: 0 10px;
  }

}
