
.till {
  padding: .75rem 1rem;
  border: 1px solid gray;
  width: fit-content;
  margin: .75rem;
  cursor: pointer;
}

.active{
  background-color:$main-yellow; 
}

.step__info{
  position: relative;
  height: 7.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  
  .step__info-content {
  position: absolute;
  top: -10%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: darken($main-yellow, 10%);
  display: flex;
  justify-content: center;
  align-items:  center;
  
  
  
  .step__info-content-banner{
    
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
  
    p{
      
      width: 80%;
      height:auto;
      font-family: $font-base;
      font-weight: 300;
      font-size: 1rem;
      color: $main-grey-dark;
      display: block;
      margin-top: .5rem
      


    }
    h1{
      margin: 0;
      
      width: 80%;
      height: auto;
      font-family: $font-base;
      font-weight: 900;
      font-size: 1.75rem;
      color: $main-grey-dark;
      
      }
  }
}
}
  




