.step__info {
  position: relative;
  height: 7.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  

  .step__info-content {
    position: absolute;
    top: -10%;
    left: 0;
    height: 110%;
    width: 100%;
    background-color: darken($main-yellow, 10%);
    display: flex;
    justify-content: center;
    align-items: center;

    .step__info-content-banner {
      height: 50%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      top: 5px;

      p {
        width: 80%;
        height: auto;
        font-family: $font-base;
        font-weight: 300;
        font-size: 1rem;
        color: $main-grey-dark;
        display: block;
        margin-top: 0.5rem;
      }

      h1 {
        margin: 0;
        width: 80%;
        height: auto;
        font-family: $font-base;
        font-weight: 900;
        font-size: 1.75rem;
        color: $main-grey-dark;
      }
    }
  }
}

.stepper__main-container {
  height: 110vh;
  width: 100vw;
  background: url(../../assets/images/stepper.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .steps__container {
    width: 90%;
    border: 1px solid orange;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: $main-grey-dark;
    font-family: $font-base;
  }
  .stepper {
    width: 90%;
    height: 65%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h1.step__header {
      
      font-family: $font-base;
      font-size: 1.5rem;
      color: $main-grey-dark;
      margin: 2rem 0 2rem 0;
    }
    form {
      height: 100%;
      width: 100%;
      border: 1px solid red;
      .step-inputs-wrapper {
        height: 75%;
        border: 1px solid green;
        .step__input-item-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          label {
            color: $main-grey-dark;
            font-family: $font-base;
            margin-left: 1rem;
          }
          label.number__of__bags {
            margin-right: 1.5rem;
          }
          input.step__1-checkbox {
            outline: none;
            appearance: none;
            width: 2rem;
            height: 2rem;
            border: 2px solid $main-grey;
            cursor: pointer;
            transition: 0.2s linear;
            &:checked {
              background-color: $main-yellow;
            }
          }
        }
      }

      
      .step-inputs-wrapper-select{
        @extend .step-inputs-wrapper;
      }

      .error-message {
        margin-bottom: 1rem;
        font-family: $font-base;
        color: red;
      }
      .step__buttons-container {
        border: 1px solid tomato;
        width: 17.5rem;
        display: flex;
        justify-content: space-between;
      }
      button.btn__step {
        height: 3rem;
        width: 7rem;
        border: 2px solid $main-grey;
        color:$main-grey-dark;
        font-family: $font-base;
        padding: 0 0;
        background-color: #00000000;
        outline: none;
        cursor: pointer;
      }
    }
    .number__of__bags{
      margin-right: 2.5rem;
    }
    
    .step__3__step-inputs-wrapper{
      @extend .step-inputs-wrapper;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    .step__3__input-item-container:nth-of-type(2){
      border: 1px solid lightblue;
      width: 40%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
    }
    .name__organisation{
      width: 40rem;
      border: 1px solid lightgreen;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .step__3__input-item-container, .step__3__select-item-container{
        
        label{
          margin-right: 1rem;
        }
      }

      .step__3__input-item-container input {
            width: 50%;
            background-color: #00000000;
            border: 1px solid $main-grey;;
            outline: none;
            font-family: $font-base;
            height: 1.5rem;
            margin: 1.5rem 0;
          }
          
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus {
            border: none;

            &:active {
              border: none;
            }

            &::placeholder {
              padding: 1rem;
              border-bottom: 2px solid $main-grey;
              background-color: #00000000;
            }

            &:placeholder-shown {
              border: none;
              background-color: #00000000;
            }
            &:placeholder-shown:active {
              border: none;
              background-color: #00000000;
            }
          }
      
    }
  }
  }
}

.step__4__step-inputs-wrapper{
  @extend .step-inputs-wrapper;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  .column__content{
        width: 18.5rem;
        border: 1px solid brown;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60%;
        margin-right: 1rem;
        .step__4__column-header{
          font-family: $font-base;
          color: $main-grey-dark;
          font-size: 1.25rem;
          font-weight: bold;
        }
        .step__4__input-item-container{
          display: flex;
          justify-content: space-between;
          align-items: center;
          label{
            font-family: $font-base;
            color: $main-grey-dark;
          }
         
          input {
            height: auto;
            background-color: #00000000;
            border: 1px solid $main-grey;;
            outline: none;
            font-family: $font-base;
            height: 1.5rem;
            color: $main-grey-dark;
    
          }
          
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus {
            border: none;

            &:active {
              border: none;
            }

            &::placeholder {
              padding: 1rem;
              border-bottom: 2px solid $main-grey;
            }

            &:placeholder-shown {
              border: none;
            }
            &:placeholder-shown:active {
              border: none;
            }
          }

          textarea{
            height: 4rem;
            width: auto;
            background-color: #00000000;
            outline: none;
            font-family: $font-base;
            color: $main-grey-dark;
            resize: none;
          }

        }

  }
}

.summary-wraper{
  height: 100%;
  width: 100%;
  border: 1px solid red; 
  .step-inputs-wrapper {
        height: 65%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        .donation__summary-top{
         
          h2{
            color: $main-grey-dark;
            font-family: $font-base;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }
          .donation__summary-items{
            display: flex;
            align-items: center;
           
            
            img.logoTshirt {
              position:relative;
              width: 3rem;
              height: 3rem;
              top:0;
              left: -3px;
            }
          }
        }
        .donation__summary-main{
          display: flex;
          max-width: 60%;
          .donation__summary-item{
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 1.5rem;
            span{
              margin-right: .5rem
            }

          .donation__summary-main-header{
          color: $main-grey-dark;
            font-family: $font-base;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }
        }
      }
}
.step__buttons-container{
  border: 1px solid tomato;
        width: 17.5rem;
        display: flex;
        justify-content: space-between;
        button.sum__btn__step{
         height: 3rem;
        width: 7rem;
        border: 2px solid $main-grey;
        color:$main-grey-dark;
        font-family: $font-base;
        padding: 0 0;
        background-color: #00000000;
        outline: none;
        cursor: pointer;
        }
}
}

.till {
  padding: 0.75rem 1rem;
  border: 1px solid $main-grey-dark;
  width: fit-content;
  margin: 0.75rem;
  cursor: pointer;
  transition: 0.2s linear;
}

.help__active {
  background-color: $main-yellow;
}
