.footer__container{
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 5vw 1rem 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .icon__svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;  
    
    svg{
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}
}

